.social-icons ul li a:hover .fa-instagram {
    color:#A22523;
}

h1 img{
    display: block;
}
h1 span{
    display: block;
}

.navbar-brand h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-brand_text {
    margin-bottom: 5px;
}

.social-icons ul li:last-child{
    padding-right: 20px;
}

#header .navbar-nav.navbar-right >li a {
    padding-left: 40px;
    padding-right: 0;
}

#home-slider h1 {
    margin-top: 0;
}

.action p {
    font-size: 14px;
}

.single-features {
    overflow: hidden;
    padding: 0 0 0 0;
    margin: 50px 0 0 0;
}

.single-features:last-child {
    padding: 0 0 0 0;
    margin: 50px 0 50px 0;
}

.single-features h2{
    padding: 50px 0 0 0;
    margin: 0 20px 20px 20px;
}

.single-features p {
    padding: 0 0 0 0;
    margin: 20px;
}

.empty-block{
    height: 100px;
}

.testimonial .media .media-body blockquote{
    font-size: 14px;
}

.testimonial .media .media-body blockquote:before{
    font-size: 20px;
}

.testimonial .media .media-body blockquote:after{
    font-size: 20px;
}

.carousel-item {
    height: 500px;
    margin-top: 20px;
    font-size: 23px;
    text-align: center;
    box-sizing: border-box;
    cursor: grab;
    position: relative;
    overflow-wrap: break-word;
}

/* Контейнер с маркерами */
.owl-dots {
    text-align: center;
    margin-top: 20px;
}

/*!* Сам маркер*/
/*Здесь body в начале, чтобы заменить стили, которые указаны в самом плагине *!*/
.owl-carousel button.owl-dot {
    width: 10px;
    height: 10px;
    border: 1px solid #4fcccd;
    border-radius: 50%;
    background: #ffffff;
    margin: 0 3px;
}

/*!* Активный маркер *!*/
.owl-carousel button.owl-dot.active {
    background: #4fcccd;
}


#categoryDesctiption strong {
    font-weight: 400;
}

#categoryDesctiption, #categoryTitle {
    margin: 20px 0;
}

#categoryTitleWrapper {
    min-height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_title {
    margin: 20px 0;
}

.portfolio-info h2 {
    text-align: center;
}